{% extends 'base.html' %} {% block content %}
<h1 class="header" >New Event</h1>
<form method="POST" class="new">
    {{ form.hidden_tag() }}
    {{form.name.label}} {{ form.name(class_='form-control') }}
    {{form.description.label}} {{ form.description(class_='form-control') }}
    {{form.date.label}} {{ form.date(class_='form-control') }}
    {{form.time.label}} {{ form.time(class_='form-control') }}
    {{ form.address.label }} {{ form.address(class_='form-control') }}
    {{form.city.label}} {{ form.city(class_='form-control') }}
    {{form.image_url.label}} {{ form.image_url(class_='form-control') }}
    {{ form.submit(class_='btn') }}
</form>

{% endblock %}