{% extends 'base.html' %} {% block content %}
<h1 class="header" >Sign Up</h1>
<form method="POST" class="new">
    {{ form.hidden_tag() }}
    {{form.first_name.label}} {{ form.first_name(class_='form-control') }}
    {{form.last_name.label}} {{ form.last_name(class_='form-control') }}
    {{form.email.label}} {{ form.email(class_='form-control') }}
    {{form.password.label}} {{ form.password(class_='form-control') }}
    {{ form.password_cf.label }} {{ form.password_cf(class_='form-control') }}
    {{ form.is_org }} {{form.is_org.label}}
    <br>
    {{ form.submit(class_='btn') }}
</form>

{% endblock %}